*{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    padding: 0;
    outline: none;
}
#web-frame{
    align-content: center;
    width: 100%;
    height: 100%;
}
.header{
    text-align: center;
    color: white;
    margin: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px black;
}

.skillcontain{
    text-align: center;
    margin-left: -6%
}
ul {
    margin: 0;
}
li {
    display: inline-flex;
    list-style-type: none;
    margin: -5% 0 0 0;
    padding-left: 3%
}
.card-container {
  width: 280px;
  height: 500px;
    text-align: left;
    
}

.card {
  border-radius: 25px;
  box-shadow: -10px 10px 10px grey;
}

.card-head {
    position: relative;
    height: 152px;
    background-image: url(cardbg.jpg);
    background-size: 320px;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.card-logo {
  width: 55px;
  margin: 20px;
}

.mander {
  position: absolute;
    height: 110px;
    width: 100px;
  right: -12;
    top: 50;
}
.melion {
  position: absolute;
    height: 140px;
    width: 140px;
  right: -27;
    top: 30;
}
.rizard {
  position: absolute;
    height: 160px;
    width: 200px;
  right: -70;
    top: 5;
}

.back-text {
  display: inline-block;
  font-size: 48px;
height: 50px;
    color: white;
    margin: auto;
    display: table;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 90px;
}

.card-body {
  height: 255px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.card-desc {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
}
.contact {
  width: 500px;
  height: 800px;
    text-align: left;
    
}
.contact .card-head{
    height:80px;
}
.resume .card-head{
    height: 80px;
}
.resume{
   width: 400px;
  height: 800px;
    text-align: left;
}
.resumepic{
    position: absolute;
    height: 250px;
    width: 700px;
}
.know-more-list li{
    display: inline-flex;
}
.inval{
    color: red;
    font-size: 13px;
    
}
.portfoliocontain .card-head{
    height:120px;
    background-position: center;
    background-size: 320px
}
.portfoliocontain .backtext{
    font-size: 37px;
}
.project_desc{
    padding: 20px 20px 5px 20px;
  display: block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
    
}
.blockchain{
    width: 280px;
  height: 500px;
    text-align: left;
}
.fixify{
    width: 280px;
  height: 500px;
    text-align: left;
}
.droid-pic{
    height: 70px;
    width: 70px;
    display: inline-flex
}
.fixifylogo{
    height: 70px;
    width: 60px;
    display: inline-flex;
}
.blockchain .img-container{
    margin-left: 190px;
    
}
.img-container{
    margin-left: 145px;
}
.password-cracker{
     width: 280px;
  height: 500px;
    text-align: left;
}
.password-cracker .img-container{
    margin-top: -60px;
    margin-left: 193px;
}
.javalogo{
    height: 55px;
    width: 35px;
    display: inline-flex;
}
.eclipselogo{
    height: 40px;
    width: 40px;
    display: inline-flex;
}